<!-- templates/evento.html -->
<!DOCTYPE html><html xmlns:th="http://www.thymeleaf.org"><head><meta charset="UTF-8"><title>Eventos</title></head><body>
<h1>Eventos</h1>
<table border="1"><thead>
<tr>
<th>ID</th><th>Nombre</th><th>Descripción</th><th>Fecha Inicio</th><th>Fecha Fin</th>
<th>Hora Inicio</th><th>Hora Fin</th><th>Presencial</th><th>Online</th>
<th>Es Mega</th><th>Categoría</th><th>Parte de</th>
</tr></thead>
<tbody>
<tr th:each="it : ${items}">
<td th:text="${it.idEvento}"></td><td th:text="${it.nombre}"></td><td th:text="${it.descripcion}"></td>
<td th:text="${it.fechaInicio}"></td><td th:text="${it.fechaFin}"></td>
<td th:text="${it.horarioInicio}"></td><td th:text="${it.horarioFin}"></td>
<td th:text="${it.presencial}"></td><td th:text="${it.online}"></td>
<td th:text="${it.megaEvento}"></td><td th:text="${it.categoria}"></td><td th:text="${it.megaEventoNombre}"></td>
</tr>
</tbody></table></body></html>